.header-part {
    color: white;
    .userInfo {
        float: right;
        margin-right: 50px;
        margin-top: 10px;
        .dropdownList {
            list-style-type: none;
            padding: 0;
            margin: 0;
            .dropdownItem {
                color: black;
                cursor: pointer;
            }
        }
    }
    .cursorPointer {
        cursor: pointer;
    }
}